* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* shared section  */

.text-primary-color {
  color: #e95a08;
}
.text-secondary-color {
  color: #8987a1;
}
.primary-color {
  color: #e95a08;
}
header {
  max-width: 90vw;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

/* nav section */
nav {
  width: 100%;
  padding: 20px 0;
}

.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.nav-item-container ul {
  display: flex;
  align-items: center;
}
.nav-item-container ul li {
  list-style: none;
  margin-right: 34px;
}
.nav-item-container ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.nav-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-icon h6 {
  font-size: 1rem;
  font-weight: 500;
}

/* banner design */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
 
}
.banner-title {
  font-size: 4.1rem;
}

.banner-description {
  width: 410px;
  margin: 16px 0;
  flex-wrap: wrap;
}

/* media query for small device  */

@media (max-width: 768px) {
  .nav-item-container ul {
    display: none;
  }

  .navcontainer img {
    height: 40px;
  }



  /* banner  */
  .banner{
    flex-direction: column-reverse;
    min-width:95vw;
    padding: 90px;
     margin-top:-90px;
  }

  .banner img{
    width: 95vw;
  }
  .banner-title {
   font-size: 1.5rem;
   margin-top: 30px;
  }
  .banner-description {
  width:95vw;
  
}
}
